type setcpugovernor-sh, domain;
type setcpugovernor-sh_exec, exec_type, vendor_file_type, file_type;

init_daemon_domain(setcpugovernor-sh)

allow setcpugovernor-sh shell_exec:file rx_file_perms;
allow setcpugovernor-sh system_file:file x_file_perms;
allow setcpugovernor-sh toolbox_exec:file rx_file_perms;
allow setcpugovernor-sh sysfs_devices_system_cpu:file w_file_perms;
