recovery_only(`
allow shell tmpfs:file r_file_perms;
allow shell sysfs:file r_file_perms;
')

allow shell rootfs:file { getattr read open };
allow shell vendor_file:file { execute getattr open read execute_no_trans };
