allow vendor_init {
  file_type
  -core_data_file_type
  -exec_type
  -runtime_event_log_tags_file
  -system_file
  -unlabeled
  -vendor_file_type
  -vold_metadata_file
}:file { map };

# chown/chmod on pseudo files.
allow vendor_init {
  fs_type
  -contextmount_type
  -sdcard_type
  -rootfs
  -proc_uid_time_in_state
  -proc_uid_concurrent_active_time
  -proc_uid_concurrent_policy_time
}:file { map };

allow vendor_init serialno_prop:file { map };

# see system/sepolicy private/file_contexts
# and public/vendor_init.te for references

allow vendor_init self:capability { chown dac_override dac_read_search fowner fsetid kill setgid setuid setpcap linux_immutable net_bind_service net_broadcast net_admin net_raw ipc_lock ipc_owner sys_module sys_rawio sys_chroot sys_ptrace sys_pacct sys_admin sys_boot sys_nice sys_resource sys_time sys_tty_config mknod lease audit_write audit_control setfcap };

# /data(/.*)?
allow vendor_init system_data_file:dir { add_name remove_name reparent search rmdir open audit_access execmod };
allow vendor_init system_data_file:file { ioctl read write create getattr setattr lock relabelfrom relabelto append unlink link rename execute quotaon mounton };

# /data/vendor(/.*)?, /data/vendor_ce(/.*)?, /data/vendor_de(/.*)?
allow vendor_init vendor_data_file:dir { add_name remove_name reparent search rmdir open audit_access execmod };
allow vendor_init vendor_data_file:file { ioctl read write create getattr setattr lock relabelfrom relabelto append unlink link rename execute swapon quotaon mounton };

# /data/unencrypted(/.*)?
allow vendor_init unencrypted_data_file:dir { add_name remove_name reparent search rmdir open audit_access execmod };
allow vendor_init unencrypted_data_file:file { ioctl read write create getattr setattr lock relabelfrom relabelto append unlink link rename execute swapon quotaon mounton };

# /data/nativetest(/.*)?, /data/nativetest64(/.*)?
allow vendor_init nativetest_data_file:dir { add_name remove_name reparent search rmdir open audit_access execmod };
allow vendor_init nativetest_data_file:file { ioctl read write create getattr setattr lock relabelfrom relabelto append unlink link rename execute swapon quotaon mounton };

# /data(/.*)?
#allow vendor_init system_data_file:dir { add_name remove_name reparent search rmdir open audit_access execmod };
#allow vendor_init system_data_file:file { ioctl read write create getattr setattr lock relabelfrom relabelto append unlink link rename execute swapon quotaon mounton };

# do NOT use this after Oreo
#typeattribute vendor_init data_between_core_and_vendor_violators;
