allow vendor_init {
  file_type
  -core_data_file_type
  -exec_type
  -runtime_event_log_tags_file
  -system_file
  -unlabeled
  -vendor_file_type
  -vold_metadata_file
}:file { map };

# chown/chmod on pseudo files.
allow vendor_init {
  fs_type
  -contextmount_type
  -sdcard_type
  -rootfs
  -proc_uid_time_in_state
  -proc_uid_concurrent_active_time
  -proc_uid_concurrent_policy_time
}:file { map };

allow vendor_init serialno_prop:file { map };

# see system/sepolicy private/file_contexts
# and public/vendor_init.te for references

allow vendor_init self:{ capability cap_userns } { chown dac_override fowner fsetid kill setgid setuid setpcap linux_immutable net_bind_service net_broadcast net_admin net_raw ipc_lock ipc_owner sys_module sys_chroot sys_pacct sys_admin sys_boot sys_nice sys_resource sys_time sys_tty_config lease audit_write audit_control };
#allow vendor_init self:{ capability cap_userns } { chown dac_override dac_read_search fowner fsetid kill setgid setuid setpcap linux_immutable net_bind_service net_broadcast net_admin net_raw ipc_lock ipc_owner sys_module sys_rawio sys_chroot sys_ptrace sys_pacct sys_admin sys_boot sys_nice sys_resource sys_time sys_tty_config mknod lease audit_write audit_control setfcap };

#https://android.googlesource.com/platform/system/sepolicy/+/master/public/global_macros
#define(`x_file_perms', `{ getattr execute execute_no_trans map }')
#define(`r_file_perms', `{ getattr open read ioctl lock map }')
#define(`w_file_perms', `{ open append write lock map }')
#define(`rx_file_perms', `{ r_file_perms x_file_perms }')
#define(`ra_file_perms', `{ r_file_perms append }')
#define(`rw_file_perms', `{ r_file_perms w_file_perms }')
#define(`rwx_file_perms', `{ rw_file_perms x_file_perms }')
#define(`create_file_perms', `{ create rename setattr unlink rw_file_perms }')
#define(`r_dir_perms', `{ open getattr read search ioctl lock }')
#define(`w_dir_perms', `{ open search write add_name remove_name lock }')
#define(`ra_dir_perms', `{ r_dir_perms add_name write }')
#define(`rw_dir_perms', `{ r_dir_perms w_dir_perms }')
#define(`create_dir_perms', `{ create reparent rename rmdir setattr rw_dir_perms }')

# /data(/.*)?
allow vendor_init system_data_file:dir { w_dir_perms rw_dir_perms mounton create_dir_perms create rename getattr setattr read write r_dir_perms relabelfrom relabelto add_name remove_name reparent search rmdir open audit_access execmod };

allow vendor_init system_data_file:file { x_file_perms w_file_perms rw_file_perms create_file_perms r_file_perms open ioctl read write create getattr setattr lock relabelfrom relabelto append unlink link rename execute execute_no_trans quotaon mounton };


# /data/vendor(/.*)?, /data/vendor_ce(/.*)?, /data/vendor_de(/.*)?
allow vendor_init vendor_data_file:dir { w_dir_perms rw_dir_perms mounton create_dir_perms create rename getattr setattr read write r_dir_perms relabelfrom relabelto add_name remove_name reparent search rmdir open audit_access execmod };

allow vendor_init vendor_data_file:file { x_file_perms w_file_perms rw_file_perms create_file_perms r_file_perms open ioctl read write create getattr setattr lock relabelfrom relabelto append unlink link rename execute execute_no_trans quotaon mounton };


# /data/unencrypted(/.*)?
allow vendor_init unencrypted_data_file:dir { w_dir_perms rw_dir_perms mounton create_dir_perms create rename getattr setattr read write r_dir_perms relabelfrom relabelto add_name remove_name reparent search rmdir open audit_access execmod };

allow vendor_init unencrypted_data_file:file { x_file_perms w_file_perms rw_file_perms create_file_perms r_file_perms open ioctl read write create getattr setattr lock relabelfrom relabelto append unlink link rename execute execute_no_trans quotaon mounton };


# /data/nativetest(/.*)?, /data/nativetest64(/.*)?
allow vendor_init nativetest_data_file:dir { w_dir_perms rw_dir_perms mounton create_dir_perms create rename getattr setattr read write r_dir_perms relabelfrom relabelto add_name remove_name reparent search rmdir open audit_access execmod };

allow vendor_init nativetest_data_file:file { x_file_perms w_file_perms rw_file_perms create_file_perms r_file_perms open ioctl read write create getattr setattr lock relabelfrom relabelto append unlink link rename execute execute_no_trans quotaon mounton };


typeattribute vendor_init data_between_core_and_vendor_violators;
