import init.${ro.hardware}.usb.rc
import init.${ro.hardware}.power.rc

on init
    # mount debugfs
    mount debugfs /sys/kernel/debug /sys/kernel/debug mode=755

    # disable transparent huge pages
    write /sys/kernel/mm/transparent_hugepage/enabled "never"

    # Initialize cpusets to boot-time values
    write /dev/cpuset/foreground/cpus 0-7
    write /dev/cpuset/background/cpus 0-7
    write /dev/cpuset/system-background/cpus 0-7
    write /dev/cpuset/top-app/cpus 0-7

    start watchdogd

on fs
    mount_all /vendor/etc/fstab.${ro.hardware}
    ####################################################################
    # NO NO NO NO NO NO
    # THIS WILL CAUSE is_file_crypto() TO RETURN false WHEN CALLED BY
    # do_installkey() IN system/core/init/builtins.cpp, WHICH IS CALLED
    # BY installkey IN SYSTEM'S init.rc FILE, CAUSING BOOT TO HALT!!!!!!
    #
    # DURING do_mount_all(), IF 'early', queue_event = false, WHICH
    # SKIPS queue_fs_event() THAT SETS ro.crypto.state TO 'file' THAT'S
    # NECESSARY FOR is_file_crypto() TO RETURN true
    ####################################################################
    #mount_all /vendor/etc/fstab.${ro.hardware} --early
    setprop ro.crypto.fuse_sdcard false

on post-fs

    # set RLIMIT_MEMLOCK to 8MB
    setrlimit 8 8388608 8388608

    # For legacy support
    # See storage config details at http://source.android.com/tech/storage/
    # since /storage is mounted on post-fs in init.rc
    symlink /sdcard /storage/sdcard0

    # BT LED sysfs entry
    write /sys/class/leds/bt_active/trigger "hci1rx"

    chmod 0666 /dev/ump
    chmod 0666 /dev/ion
    chmod 0666 /dev/graphics/fb0

# fake some battery state
    setprop status.battery.state Slow
    setprop status.battery.level 5
    setprop status.battery.level_raw  50
    setprop status.battery.level_scale 9

# If an app forces screen rotation, revert it once the apps closes
    setprop persist.demo.rotationlock 1

# enable Google-specific location features,
# like NetworkLocationProvider and LocationCollector
    setprop ro.com.google.locationfeatures 1

# enable test harness
    setprop ro.test_harness true

# configure DRM HAL to search for 64-bit DRM plugins
    setprop drm.64bit.enabled true

on post-fs-data
    mkdir /data/media 0770 media_rw media_rw
    mkdir /data/misc/gatord 0700 root root
    # Set SELinux security contexts for files used by lava.
    restorecon_recursive /data/local/tmp/lava

on zygote-start
    mkdir /data/vendor/wifi 0770 wifi wifi
    mkdir /data/vendor/wifi/wpa 0770 wifi wifi
    mkdir /data/vendor/wifi/wpa/sockets 0770 wifi wifi

on property:sys.boot_completed=1
    # update cpuset now that processors are up
    # Foreground should contain most cores (7 is reserved for top-app)
    write /dev/cpuset/foreground/cpus 0-6

    # top-app gets all cpus (including reserved #7)
    write /dev/cpuset/top-app/cpus 0-7

    #background contains a small subset (generally one little core)
    write /dev/cpuset/background/cpus 0

    # add system-background cpuset, a new cpuset for system services
    # that should not run on larger cores
    # system-background is for system tasks that should only run on
    # little cores, not on bigs to be used only by init
    write /dev/cpuset/system-background/cpus 0-3

on property:usb_speed.switch=high
    write /sys/kernel/debug/f72c0000.usb/config "0"

on property:usb_speed.switch=full
    write /sys/kernel/debug/f72c0000.usb/config "1"

#userspace daemon needed for bluetooth
service uim /vendor/bin/uim
    class main
    user bluetooth
    group bluetooth net_bt_admin system
    oneshot

service wpa_supplicant /system/vendor/bin/hw/wpa_supplicant \
     -g@android:wpa_wlan0
     interface android.hardware.wifi.supplicant@1.0::ISupplicant default
     interface android.hardware.wifi.supplicant@1.1::ISupplicant default
     socket wpa_wlan0 dgram 660 wifi wifi
     class main
     disabled
     oneshot

# Set watchdog timer to 30 seconds and pet it every 10 seconds to get a 20 second margin
service watchdogd /system/bin/watchdogd 10 20
    class core
    oneshot
    seclabel u:r:watchdogd:s0

service bugreport /system/bin/dumpstate -d -p -z
    class main
    disabled

on early-init
    loglevel 7
    #setprop ro.hardware.keystore optee
    #setprop ro.hardware.gatekeeper optee
    mount_all /vendor/etc/fstab.persist --early

on init
    chown system system /mnt/vendor/persist
    chmod 0771 /mnt/vendor/persist
    mkdir /mnt/vendor/persist/tee 0770 shell shell
    # optee_client before sha 5602227e8acbffc0b9939a8be17740024e7ceb90
    # will create its log file under /mnt/vendor/persist/tee/logs so we need
    # to mkdir it else teec.log will not be created
    mkdir /mnt/vendor/persist/tee/logs 0770 shell shell
    restorecon_recursive /mnt/vendor/persist

    # optional for debugging
    # default 5s
    # failed! y?
    #wait /mnt/vendor/persist/tee

    # Let this start at default stage, i.e. late-fs
    start tee-supplicant
    start vendor.keymaster-3-0-optee

    # can b on late-init?
    #wait_for_prop keymaster.optee.status ready
    exec_start wait_for_keymaster_optee

on post-fs-data
    # create for OP-TEE test
    #mkdir /data/vendor/tee 0770 shell shell
    # optee_client before sha 5602227e8acbffc0b9939a8be17740024e7ceb90
    # will create its log file under /data/vendor/tee/logs so we need
    # to mkdir it else teec.log will not be created
    #mkdir /data/vendor/tee/logs 0770 shell shell
    #restorecon_recursive /data/vendor/tee

    #start tee-supplicant

    # Keep this at the end of on post-fs-data
    # Set indication (checked by vold) that we have finished this action
    setprop vold.post_fs_data_done 1

# -d is passed to tee-supplicant to run it as a daemon
# i.e. fork after successful initialization
# Do NOT use. Seem to cause svc not to stay up
service tee-supplicant /vendor/bin/tee-supplicant
    class core
    user shell
    group shell inet system drmrpc
    #user root
    #group root shell inet system drmrpc
    capabilities SYS_RAWIO BLOCK_SUSPEND NET_ADMIN NET_BIND_SERVICE
    oneshot
